.menu-item-container {
  margin-top: 20px;
  cursor: pointer;
}
.text {
  font-weight: 700;
  font-style: normal;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "YADLjC01_S0 0", _fb_, auto;
  font-size: 31px;
  line-height: 44px;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  width: 100%;
}

.insights-image {
  width: 36px;
  height: 33px;
  margin-left: 20px;
  margin-right: 20px;
}

.white-line {
  width: 140%;
  height: 3px;
  background-color: white;
}