.students-container {
  display: flex;
  flex:1;
  padding-top: 60px;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.table-container {
  margin-top: 40px;
  background-color: rgb(80, 102, 163);
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
