.sidebar-container {
  display: flex;
  flex:1;
  flex-direction: row;
  width: 100%;
  border: 10px solid #728085;

}
.sideBar {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 290px;
  background-color: #19323C;
}